  <div class="content_post" style="background-image: url(<%= book.image %>);">
          <span><%= image_tag book.image.variant(resize: '450x600') %></span>
    <div class="more">
      <% if  user_signed_in? %>
        <% if book.user.id == current_user.id %>
        <ul class="more_list">
          <li>
            <%= link_to '削除', "/books/#{book.id}", method: :delete %>
          </li>
          <li>
            <%= link_to '編集', edit_book_path(book.id) , method: :get %>
          </li>
        </ul>
        <% else %>
          <ul class="more_list">
            <li>
              <%= link_to "詳細ページ",book_path(book.id) %>
            </li>
            <li>
              <%= link_to "購入画面に進む", "#", class:"item-sell-btn" %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <p><%= link_to @book.name, book_path(@book) %></p>
      <span class="name">
        <a href="/users/<%= book.user.id %>">
          <span>投稿者</span><%= book.user.nickname %>
        </a>
      </span>
  </div>


