<h1>トップページ</h1>

    <ul class='lists-right'>
      <% if user_signed_in? %>
       <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <%  else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>

<%= form_with(url: '#' , local: true, method: :get, class: "search-form") do |form| %>
  <% form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <% form.submit "検索" , class: "search-btn" %>
<% end %>

<% unless @books.empty? %>
<% @books.each do |book| %>

  <li class="list">
    <%= link_to "詳細ページ",book_path(book.id) %>
    <div class="book-contents-image">
      <%= image_tag book.image, class: "item-image" %>
    </div>
  </li>

<% end %>

<% else %>

<h1>本を投稿しよう</h1>

<% end %>
