<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>

    <%= form_with model: @book, url: books_path , local: true do |form| %>
        <%= render 'shared/errors' , model: form.object %>
      <%= form.text_field :name, placeholder: "タイトル" %>
      <%= form.text_area :info, placeholder: "info", rows: "10" %>
      <%= form.file_field :image %>
      <%= form.text_field :price, placeholder: "希望小売価格" %>
      <div class='input-birth-wrap'>
      <%= raw sprintf(
                  form.date_select(
                    :published_on,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
      <%= form.text_field :author_name, placeholder: "作者名" %>
      <%= form.text_field :category, placeholder: "ジャンル" %>
      <%= form.text_field :appearance, placeholder: "保存状態"%>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>