<div class="book-show">
  <div class="book-box">
    <h2 class="name">
      <%= @book.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @book.image ,class:"book-box-img" %>

    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @book.price %> ¥
      </span>
      <span class="item-postage">
        <%= @book.author_name %>
      </span>
    </div>



   <% if user_signed_in?  %>

     <% if @book.user.id == current_user.id %>
    <%= link_to "商品の編集", edit_item_path(@book.id), method: :get, class: "book-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", book_path(@book), method: :delete, class:"item-destroy" %>
     <% else %>

           <% unless @book.orders_admin.nil?%>
              <%= link_to "Topページに戻る", root_path , class:"book-red-btn" %>
           <% else %>
              <%= link_to "購入画面に進む",book_orders_path(@book.id) ,class:"book-red-btn"%>
           <% end %>

      <% end %>

  <% end %>

    <div class="item-explain-box">
      <span><%= @book.info %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-book">出品者名</th>
          <td class="detail-value"><%= @book.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-book">カテゴリー</th>
          <td class="detail-value"><%= @book.category.name %></td>
        </tr>
        <tr>
          <th class="detail-book">本の状態</th>
          <td class="detail-value"><%= @book.appearance.name %></td>
        </tr>
        <tr>
          <th class="detail-book">本の著者</th>
          <td class="detail-value"><%= @book.author_name %></td>
        </tr>
        <tr>
          <th class="detail-book">出版日</th>
          <td class="detail-value"><%= @book.published_on %></td>
        </tr>
    </table>

 <div class="container">
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  <% if @book.orders_admin.nil? %>

    <div class="comment-send-box">
      <% if user_signed_in? %>
      <%= form_with(model: [@book, @comment], url: book_comments_path(@book.id) ,local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>

  <% else %>

  <% end %>
    </div>
  </div>