<div class="item-img-content">
  <%= image_tag @book.image , class:"book-box-img" %>
</div>
<div class="item-book-contents">
  <span class="item-book-price">
    <%= @book.price %>¥
  </span>
  <span class="item-book-category">
    <%= @book.category.name %>
  </span>
  <span class="item-book-author_name">
    <%= @book.author_name %>
  </span>
  <span class="item-book-published_on">
    <%= @book.published_on %>
  </span>
  <span class="item-book-appearance">
    <%= @book.appearance.name %>
  </span>
</div>
<div class="item-book-info">
  <%= @book.info %>
</div>

<div class="">
<% if user_signed_in? %>

  <% if @book.user.id = current_user.id %>
  <div class="edit-btn">
    <%= link_to "編集する", edit_book_path(@book), method: :get, class:"book-destroy" %>
      <p>or</p>
    <%= link_to "削除する", book_path(@book), method: :delete, class:"book-destroy" %>
  </div>
  <% else %>
  <div class="order-btn">
    <%= link_to  "購入する", "#", class:"book-order-btn"  %>
  </div>
  <% end %>

<% end %>
</div>

 <div class="container">
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
    <div class="comment-send-box">
      <% if user_signed_in? %>
      <%= form_with(model: [@book, @comment], url: book_comments_path(@book.id) ,local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    </div>
  </div>