<!DOCTYPE html>
<html>
  <head>
    <title>BookStock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">BookStock</a></h1>
      <div class="user_nav grid-6">
        <a class="stock" href="/">本の貯蔵</a>
      </div>
    </div>
  </header>
    <%= yield %>
    <footer>
      <p>
         Copyright BookStock 2022.(仮)
      </p>
    </footer>
  </body>
</html>
